.App {
  min-height: 100vh;
  color:#363535;
  background-color: #D4D4D4;
  text-align: center;
}

.App-header {
  background-color: #363535;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.spinner-box {
  display: flex;
  justify-content: center;
  margin-right: 1%;
}

input {
  margin: 2%;
  border: 1px solid black;
}